.General{
    position: absolute;
    display: flex;
    width: 390px;
    justify-content: space-between;
    font-weight: 900;
    color: rgba(53, 53, 53, 0.774);
    margin: 0 auto;
    padding: 0 3vh;
    padding-top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.power{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
.power p:first-child{
    font-weight: 700;
    font-size: 14px;
    margin-right: 2px;
}
