.psw-div{
    width: 86%;
    margin: 167px  auto  0;

}
.arrow-image{
    position: absolute;
    width: 25px;
    left: 1.5vh;
    top: -362px !important;
    opacity: .6;
    cursor: pointer;
}
.login-form{
    position: absolute;
    bottom: -5% !important;
    width: 86%;
    left: 7%;
}

.pw{
    margin-bottom: 15px !important;
}
.cpw-error{
    border:  1.8px solid red !important;
}
.pw-error{
    border:  1.8px solid red !important;
    margin-bottom: 15px !important;

}
#placeholder_NewPassword::placeholder,
#placeholder_ConfirmNewPassword::placeholder{
    color: #a5a5a5cc;
    font-size: 18px;
}

.validation_button.changePass{
    top: 24px;
}
.changePass:focus,
.signUp:focus{
    background-color:#F79E89 !important;
}