.icon{
    position: relative;
    width: 390px !important;
    height: 844px !important;
    margin: auto;
}
.todo-image{
    position:relative;
    bottom: -20% !important;
    margin-left: 17%;
    width: 66% !important;    
}

.arrow-image{
    position: absolute;
    width: 25px;
    left: 3vh;
    top: 6vh;
    opacity: .6;
}
.login-form{
    position: absolute;
    bottom: -5% !important;
    width: 86%;
    left: 7%;
}

.input-value{
    height: 48px;
    border-radius: 10px !important;
    padding: 0 15px !important;
    border: 2px solid #a5a5a5cc !important;
    margin-bottom: 20px;
}

.iv{
    margin-bottom: 14px !important;
}

#placeholder-1::placeholder,
#placeholder-2::placeholder{
    color: #a5a5a5cc;
    font-size: 18px;
}

.changePassword-btn{
    top: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    height:48px !important; 
    background-color:#F79E89 !important;
    color: rgba(228, 228, 228, 0.836);
    border:none !important;
    border-radius:10px !important;
    padding:10px 0 !important;
}



