@font-face {
    font-family: "babes";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Bebas\ Neue\ Pro\ Bold.otf") format("truetype");
}
@font-face {
    font-family: "montsratt";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.main{
    position: relative;
    width: 390px !important;
    height: 844px !important;
    margin: auto;    
    border: 1px solid rgb(0, 195, 255);
  
}
.header{
    position: relative;
    padding-top:50px ;
}

.gear img{
    width: 25px;
    padding: 7px 0 0 0;
    cursor: pointer;
    top:5px;
    right:20%
    
}

.header p{
    font-family: "babes";
    font-size: 24px;
    color: #F79E89;
    margin: auto ;
    letter-spacing: 1px;
    transform: scale(1,1);
}
.navListOfTodo{
    height: 60px;
    margin-top: 15px;
 }
.logoTodo img{
    margin-top: 10px;
    width: 40px;
    height: 38px;
}
.listOfTodo{
    font-size: 36px;
    font-family: "babes";
    color: #f76c6aee;
    letter-spacing: 1px;
}
.filterLogo img{
    top: 20px !important;
    width: 21px;
    cursor: pointer;
    margin-right: -70%;
}



.newTodo-btn img{
    width: 63px;
    z-index: 100;
}

.newTodo{
    position: absolute;
    bottom: 22px;
    right: 30px;
    cursor: pointer;
    z-index: 10001 !important;
}
.cont{
    position: absolute;
    bottom: 22px;
    right: 30px;
    cursor: pointer;
    z-index: 10001 !important;
}
.cont2{
    position: absolute;
    bottom: 22px;
    right: 30px;
    cursor: pointer;
    z-index: 1000 !important;
    
}
/* //////////////////////////////////////////////////////////////// */
.ant-drawer-header {
    display: none;
}

.ant-drawer{
    width: 384px !important;
    height: 843px !important;
    overflow: hidden;
    top: 0;    
    left: 50%;
    transform: translate(-50%, 0%)   ;
    background-color: rgba(182, 27, 27, 0) 
}

.ant-drawer-content-wrapper {
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 745px !important;
}

.ant-drawer-mask { 
    background-color: rgba(0, 0, 0, 0);
}

.ant-drawer-body {    
    color: rgb(202, 68, 68);
    height: calc(100vh - 55px);
}

.ant-drawer-content {
    background-color: #F79E89;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


hr{
    width: 80px;
    height: 7px;
    border:none;
    background-color:rgba(243, 243, 243, 0.678) ;
    border-radius: 10px;
    margin-top: -8px;    
}


.input-newTodo:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);
}

.input-newTodo{
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    font-family: "montsratt";
    background-color: #F79E89;
    border: 3px solid rgba(243, 243, 243, 0.603);
    margin-top: 11px;
    font-size: 17px;
}

.description{
    width: 320px ;
    top: 15px;
    height: 420px !important;
    background-color: #F79E89;
    border: 3px solid rgba(243, 243, 243, 0.603);
    border-radius: 10px;
    font-family: "montsratt";
    font-size: 17px;
    color: rgb(216, 215, 215);

}
.description::placeholder{
    color: rgb(216, 215, 215);
}
.description:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);
 }
.rc-textarea{
     height: 420px;
    background-color: #F79E89;

}
.rc-textarea::placeholder,
.input-newTodo::placeholder{
    color: rgba(243, 243, 243, 0.603) !important;
 }


/* .ant-picker:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);

}

.ant-picker{
    border: 3px solid rgba(243, 243, 243, 0.603);
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    background-color: #F79E89;
    font-size: 23px;
    top: 30px;
}

.ant-picker input::placeholder{
    color: rgb(231, 231, 231) !important;
    font-family: "montsratt";
    letter-spacing: .8px;
    font-size: 17px;
    color: rgba(243, 243, 243, 0.603) !important;
}


.ant-picker-suffix span{
    color: rgba(243, 243, 243, 0.603) !important;
} */
.div-datapicker{
    position: relative;
    height: 48px !important;
    top: 30px !important;
    width: 320px;
    height: 48px;
    border: 3px solid rgba(243, 243, 243, 0.603);
    border-radius: 10px;
    font-family: "montsratt";
    letter-spacing: .8px;
    font-size: 17px;
    color: rgba(243, 243, 243, 0.603) !important;

} 
.div-datapicker img{
    margin-top: -80px !important;
    margin-left: 280px;
    width:20px;
    border-color: rgb(58, 15, 216) !important;

}
.datepicker{
    width:280px ;
    border: none;
    height: 32px;
    margin-top: 5px !important;
    right: 10px;
    background-color: #F79E89 !important;


}
.datepicker::placeholder{
    color:rgb(223, 223, 223);
    border-color: rgb(58, 15, 216) !important;

}



.add-img{ 
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    margin-left: -10px;
    justify-content: space-between;    
    opacity: 0;
    cursor: pointer;
}
.add-img-btn{
    position: relative;
    width: 320px ;
    height: 48px;
    margin-top: 45px;
    border-radius: 10px;
    border: 3px solid rgba(243, 243, 243, 0.603);   
    background-color: #F79E89;

}
.add-img-btn::after{
    content: 'Add Image (Optional)';
    position: relative;
    top: -40px;
    left: -67px;
    color: rgba(243, 243, 243, 0.603);
    font-family: "montsratt";
    font-size: 16px;

}

.gallery{
    width: 20px;
    position: absolute;
    right: 13px;
    bottom:  10px;

}
.add-todo-btn{
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    font-family: "montsratt";
    letter-spacing: .5px;
    background-color: rgb(231, 231, 231) !important;
    color: #f79d89e5 !important;
    margin-top: 20px ;
    text-align: center;
}
.add-todo-btn:hover{
    border-color: beige;
}

.anticon-upload svg{
    display: none !important;
}

.ant-drawer-body input,
.input-newTodo input,
.description textarea
{
    color: rgb(231, 231, 231) ;
}
.ant-input::selection{
    border-color: rgb(231, 231, 231) !important;

}
