@font-face {
    font-family: "babes";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Bebas\ Neue\ Pro\ Bold.otf") format("truetype");
}
@font-face {
    font-family: "montsratt";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.main{
    position: relative;
    width: 390px !important;
    height: 844px !important;
    margin: auto;    
}
.header{
    position: relative;
    padding-top:45px ;
}

.gear img{
    width: 25px;
    padding: 7px 0 0 0;
    cursor: pointer;
    margin-left: 5px;   
}

.header p{
    font-family: "babes";
    font-size: 24.8px;
    color: #F79E89;
    margin: auto ;
    letter-spacing: 1px;
    transform: scale(1,1);
    margin-left: 5px;
}
.navListOfTodo{
    height: 60px;
    margin-top: 15px;
 }
.logoTodo img{
    margin-top: 16px;
    width: 25px;
    height: 25px;
    margin-left: 5px;

}
.listOfTodo{
    font-size: 36px;
    font-family: "babes";
    color: #f76c6aee;
    letter-spacing: 1px;
    margin-left: -8px;
}
.filterLogo img{
    width: 24px;
    cursor: pointer;
    margin-top: 19px;
    margin-left: 15px;
}
.newTodo-btn img{
    position: absolute;
    width: 63px;
    bottom: 22px;
    right: 30px;
    cursor: pointer;
}
.hidden1{
    display: none;
}
.show1{
    display: inline;
}

.ant-drawer-header {
    display: none;
    background-color: rgba(87, 243, 49, 0.829);
}

.ant-drawer{
    width: 384px !important;
    height: 843px !important;
    overflow: hidden;
    top: 0;    
    left: 50%;
    transform: translate(-50%, 0%)   ;
    background-color: rgba(182, 27, 27, 0) 
}

.ant-drawer-content-wrapper {
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 745px !important;
}

.ant-drawer-mask { 
    background-color: rgba(0, 0, 0, 0);
}

.ant-drawer-body {    
    color: rgb(202, 68, 68);
    height: calc(100vh - 55px);
}

.ant-drawer-content {
    background-color: #F79E89;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


hr{
    width: 80px;
    height: 7px;
    border:none;
    background-color:rgba(243, 243, 243, 0.678) ;
    border-radius: 10px;
    margin-top: -8px;    
}


.input-newTodo:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);
}

.input-newTodo{
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    font-family: "montsratt";
    background-color: #F79E89;
    border: 3px solid rgba(243, 243, 243, 0.603);
    margin-top: 11px;
    font-size: 17px;
}

.description{
    width: 320px ;
    top: 15px;
    height: 420px !important;
    background-color: #F79E89;
    border: 3px solid rgba(243, 243, 243, 0.603);
    border-radius: 10px;
    font-family: "montsratt";
    font-size: 17px;
    color: rgb(216, 215, 215);

}
.description::placeholder{
    color: rgb(216, 215, 215);
}
.description:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);
 }
.rc-textarea{
     height: 420px;
    background-color: #F79E89;

}
.rc-textarea::placeholder,
.input-newTodo::placeholder{
    color: rgba(243, 243, 243, 0.603) !important;
 }


 .ant-picker:hover{
    border: 3px solid rgba(243, 243, 243, 0.603);

}

.ant-picker{
    border: 3px solid rgba(243, 243, 243, 0.603);
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    background-color: #F79E89;
    font-size: 23px;
    top: 30px;
}

.ant-picker input::placeholder{
    color: rgb(231, 231, 231) !important;
    font-family: "montsratt";
    letter-spacing: .8px;
    font-size: 17px;
    color: rgba(243, 243, 243, 0.603) !important;
}
.ant-picker-input input{
font-size: 16.5px;
font-family: "montsratt";

}

.ant-picker-suffix span{
    color: rgba(243, 243, 243, 0.603) !important;
} 

.add-img{ 
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    margin-left: -10px;
    justify-content: space-between;    
    opacity: 0;
    cursor: pointer;
}
.add-img-btn{
    position: relative;
    width: 320px ;
    height: 48px;
    margin-top: 45px;
    border-radius: 10px;
    border: 3px solid rgba(243, 243, 243, 0.603);   
    background-color: #F79E89;

}
.add-img-btn::after{
    content: 'Add Image (Optional)';
    position: relative;
    top: -40px;
    left: -67px;
    color: rgba(243, 243, 243, 0.603);
    font-family: "montsratt";
    font-size: 16px;

}

.gallery{
    width: 24px;
    position: absolute;
    right: 10px;
    bottom:  10px;
    filter: invert(.96);
}
.add-todo-btn{
    width: 320px ;
    height: 48px;
    border-radius: 10px;
    font-family: "montsratt";
    letter-spacing: .5px;
    background-color: rgb(231, 231, 231) !important;
    color: #f79d89e5 !important;
    margin-top: 20px ;
    text-align: center;
}
.add-todo-btn:hover{
    border-color: beige;
}

.anticon-upload svg{
    display: none !important;
}

.ant-drawer-body input,
.input-newTodo input,
.description textarea
{
    color: rgb(231, 231, 231) ;
}
.ant-input::selection{
    border-color: rgb(231, 231, 231) !important;

}


                   /* filter dropdown style */

.ant-dropdown {
    width :126px !important;
    height:108px;
    border-radius: 10px;
}
.ant-dropdown-menu{
    width :126px !important;
    height:108px;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding-top: 10%;

}
.ant-dropdown-menu-item{
    height: 30px;
    width: 126px;
    font-family: 'montsratt';
    font-weight: bolder;
    letter-spacing: 1px;
}
.ant-dropdown-menu-title-content:hover{
    color: #f79d89e5 ;

}
