.login-form{
    margin-bottom: 20px !important;
}
.input-value{
    height: 48px;
    border-radius: 10px !important;
    padding: 0 15px !important;
    border: 1px solid #27272777 !important;
    top: -8px;
}
.checkEmail_error,
.checkPassword_error{
    border-color: red !important;
}

#placeholder_email{
    margin-top: 27px !important;
    margin-bottom: -10px !important;
}
#placeholder_email::placeholder,
#placeholder_password::placeholder{
    color: #a5a5a5cc !important;
    font-size: 18px !important;
} 

.forgetPass_link{
    display: flex;
    justify-content: flex-end;
    color: #b3b1b1;
    margin-top: 0px;
    font-size: 97%;
    cursor: pointer;
}

.validation_button{
    height:48px ; 
    background-color:#F79E89 ;
    font-weight: 500;
    letter-spacing: 1px;
    border:none ;
    border-radius:10px ;
    margin-top: -10px;
    padding:10px 0 !important;
}


.sinUp_link{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: -5.5% ;
    color: rgba(39, 39, 39, 0.315);
    transform: scale(1, .9);

}

.sinUp_link span{
    cursor: pointer;
    color: #f79d89be;
    margin-left: 3px;
}

