.signup-form{
    position: absolute;
    bottom: 0;
    width: 86%;
    left: 7%;
    height: 400px;
}

.SignUp_Input_emial{
    top: 13px !important;
}
.SignUp_Input_Name{
    top: 4px !important;
}
.SignUp_Input_Password{
    top: -5px !important;
    font-size:23px
}
.SignUp_Input_ConfirmPassword{
    top: -45px !important;
    font-size:23px
}

.SignUp_Input_emial_error{
    top: 13px !important;
    border-color: red !important;
}
.SignUp_Input_Name_error{
    top: 4px !important;
    border-color: red !important;
}
.SignUp_Input_ConfirmPassword_error{
    top: -5px !important;
    font-size:23px;
    border-color: red !important;
}
.SignUp_Input_Password_error{
    top: -45px !important;
    font-size:23px;
    border-color: red !important;
}

.input-value::placeholder{
    font-size: 18px !important;
    color: #b3b1b1 !important;
}

#placeHolder_Password::placeholder,
#placeHolder_ConfirmPassword::placeholder{
    color: #979494cc !important;
    font-size: 18px;
}
.validation_button{
    font-family: 'montsratt';
    height:48px ; 
    background-color:#F79E89 ;
    letter-spacing: 1px;
    border:none ;
    border-radius:10px ;
    padding:10px 0 ;
    margin-top: -9px;
    padding:10px 0 !important;
}

.validation_button:hover{
    background-color:#F79E89 ;

}


.signUp{
    top: -4px;
}

.login_link{
    width: 100%;
    position: absolute;
    text-align: center;
    top: -17px ;
    color: rgba(39, 39, 39, 0.315);
       
}

.login_link span{
    font-size: 13px;
    color: #f79d89be;
    margin-left: 3px;
    cursor: pointer;
}

