@font-face {
    font-family: "babes";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Bebas\ Neue\ Pro\ Bold.otf") format("truetype");
}
@font-face {
    font-family: "montsratt";
    font-style: normal; 
    font-weight: normal;
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.todoItem-red{
    position: relative;
    width: 100% ;
    height: 125.8px ;
    border-radius: 12px;
    margin-top: 17px;
    background-color: #f76c6a;

}
.todoItem-orange{
    position: relative;
    width: 100% ;
    height: 124.8px ;
    border-radius: 10px;
    margin-top: 17px;
    background-color: #f79e89;
}
.title{
    font-family:"montsratt" ;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 17px;
    padding: 6px 6px 0 0 ;
    color: rgb(215, 217, 219);
    display: flex;
    justify-content: space-between;
    min-height: 32px;
    max-height: 32px;
}
.Clock-logo{
    width: 18px;
    height: 18px;
    filter: invert();
}
.heidden-Clock-logo{
    display: none;
}
.hidden{
    visibility: hidden;
}
.show{
    visibility: visible;
}
.decription{
    font-family:"montsratt" ;
    letter-spacing: .2px;
    font-size: 13.5px;
    margin-left: 17px;
    padding-top: 6px ;
    color: rgb(215, 217, 219);
    height: 62px;
    width: 82%;
    overflow: hidden;
    line-height: 27px;
    text-align: justify;

}
.display{
    position: absolute;
    display: inline;
    right: 8.5%;
    top: 51.5%;
    letter-spacing: 1px ;
    color: rgb(215, 217, 219);
    font-weight: bold;

}
.undisplay{
    position: absolute;
    display: none;

}

.date{ 
    display: flex;
    font-family:"montsratt" ;
    letter-spacing: 1px;
    font-size: 12px;
    margin-left: 17px;
    margin-top: 9.5px ;
    color: rgb(215, 217, 219);
}
.date p{
    font-size: 10.5px;
    margin-top: 2px;
    margin-left: 3px; 
}
.date::before{ 
    content: 'Create at';
}

.red{
color: rgb(245, 8, 8)

}
.green{

    color: green;
}